* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RocknRoll One', sans-serif;
    
}


body {
    background-color: #fff5ee;
    /* width: 100vw;
    height: 100vh; */
}

.container {
    background-color: #fff5ee;
    /* width: 100vw;
    height: 100vh; */

    display: grid;
    grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
    position: relative;
    padding: 1em;
    gap: 0.5em;
    
    
    
}

/* -----------Header-------------------------------------------- */

.logo, .sq-name, .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* margin-left: 1em; */
    /* margin-right: 1em; */
}

.sq-name {
    animation: fro 5s linear infinite alternate;
}


@keyframes fro {
    from {
        padding-left: 60%;
    }
    to {
        padding-right: 60%;
    }
}


.logo {
    /* background-color: rgb(226, 43, 43); */
    grid-row: 1/2;
    grid-column: 1/2;
    
   
}

.logo a img {
    width: 4em;
    
    
}





.burger a img {
    width: 3em;   
    /* transition: 0.5s all ease; */
    animation: bur 0.5s linear infinite alternate;
    

    
}

.burger a img:hover {
  
    filter: invert(17%) sepia(59%) saturate(4640%) hue-rotate(336deg) brightness(98%) contrast(98%);
    
    
}




@keyframes bur {
    from {
        filter: invert(39%) sepia(77%) saturate(4833%) hue-rotate(1deg) brightness(103%) contrast(107%);
    }
    to {
        filter: none;
    }
}




/* .burger a {
    position: relative;
}

.burger a::before {
    content: '';
    top: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-color: chocolate;
    color: chartreuse;
    position: absolute;
    z-index: 0;
   

    
} */







/* -----------Animation Bar------------------------------------ */

.sq-name {
    background-color: #dc143ca4;
    grid-row: 1/2;
    grid-column: 2/5;
    /* font-size: 2rem; */
    font-size: 2em;
    border: none;
    margin: 1em;
    border-radius: 2em;
    box-shadow: 2px 2px 2px black inset;
}

/* -----------Burger Menu------------------------------------- */

.burger {
    /* background-color: rgb(164, 89, 234); */
    grid-row: 1/2;
    grid-column: 5/6;
    
}


/* ------------------ASide Bar-------------------------------- */


aside {
    
    background-color: #ff4400cd;
    
    position: absolute;
    top: 0;
    right: 0;
    /* right: -30%; */
    width: 20%;
    height: 100%;
    /* margin-top: 10%; */
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;

    transition: 2s;
    /* transform: translate(230px, 0px); */ 
    
}

/* #navbar.active {
right: 0;
transition: 350ms;
} */



/* aside:hover {
    right: -20%;
} */

aside ul {
    margin-top: 40%;
    
}

aside li a {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.aside-content li  {
    background-color: chartreuse;;
    /* border: 2px solid red; */
    box-shadow: 2px 2px 2px black;
    
    margin-top: 60%;
    list-style: none;
    border-radius: 3em;
    padding: 0.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}

.aside-content li:hover {
    background-color: #ff8c00;
}




.aside-closesign a img {
   width: 5px;
}

/* aside ul li a {
    background-color: #ff4500;
    width: 1000%;
} */


ul li:first-child {
    
    position: absolute;
    margin: auto;
    top: 2%;
    
    
}

 



/* .aside-content li {
    background-color: blueviolet;
    height: 5em;
    display: flex;
    justify-content: space-around;
} */

/* font------------------------------------------------------ */

aside ul li a {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    
    
    
}


/* ------------------Main Bar-------------------------------- */
main {
    background-color: #f0e3da;
    /* border: 2px solid red; */
    border-radius: 2em;
    grid-row: 2/3;
    grid-column: 2/5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 0.5em;
}

/* --------Main Text Elements--------- */

.main-text {
    /* background-color: chartreuse; */
    font-size: 2em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    
}



h2 {
    color: #ff4500;
    text-shadow: 2px 2px 2px black;
}

h1 {
     color: #7fff00;
    text-shadow: 2px 2px 2px black;
}

h4 {
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
}



/* --------Buttons--------- */

.main-butt {
    display: flex;
    justify-content: flex-start;
    gap: 0.2em;
    margin-top: 1em;
}

.main-butt button {
    background-color: #ff8c009c;
    border:2px solid red;
    font-size: 0.6em;
    font-weight: bold;
    width: 8em;
    height: 3em;
    border-radius: 4em;
    
}

.main-butt button:hover {
    background-color: #ff8c00ec;

}



.cover-image img {
    max-width: 100%;
    border-radius: 2em;
    object-fit: cover;
}

/* ------------------Footer-------------------------------- */

/* In footer margin is negaitive to overide the container padding properties */

footer {
    grid-row: 3/4;
    grid-column: -1/-6;
    background-color: #f0e3da;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -1em -1em -1em ;
    gap: 0.2em;
   
}

.foot-text {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foot-text a {
    font-size: 0.9em;
    text-decoration: none;
    color: black;
    
   
}

.foot-icons {
    width: 15em;
    display: flex;
    justify-content: space-evenly;
}



















/* ------------------Tablet--------------------------------------------------------------------------------- */
/* ------------------Tablet--------------------------------------------------------------------------------- */
/* ------------------Tablet--------------------------------------------------------------------------------- */
/* ------------------Tablet--------------------------------------------------------------------------------- */

@media only screen and (max-width: 800px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        justify-content: flex-start;
        margin: 0.1em;
        
    }


    .sq-name {
        font-size: 1.5em;
        margin: 0;
    }

    .burger {
        position: absolute;
        top: 1.6em;
        right: 1.1em;
    }

  

    main {
        display: flex;
        flex-direction: column;
        
        justify-content: center;
        align-items: center;
        
        
       
    }

    .main-text {
        /* background-color: chocolate; */
        display: flex;
        justify-content: flex-start;
        align-self: center;
        font-size: 1.2em;
        padding: 0;
    }

    .logo a img {
        width: 2em;
        
    }

    .burger a img {
        width: 2em;
        
    }

    /* Aside bar----------------------- */

    /* .aside-content {

       
        position: absolute;
        top: 0;
        right: 0;
        
        width: 20vw;
        height: 50%;
     
        
    } */

    .aside-content li  {
        border-radius: 3em;
        padding: 0.2em;
    }

    aside ul {
        margin-top: 100%;
        
    }

    aside ul li a {
        font-size: 1em;
       
        
    }

    .foot-text  a {
    font-size: 0.8em;
        
       
    }

    
    



}





/* ------------------Mobile--------------------------------------------------------------------------------- */
/* ------------------Mobile--------------------------------------------------------------------------------- */
/* ------------------Mobile--------------------------------------------------------------------------------- */
/* ------------------Mobile--------------------------------------------------------------------------------- */
/* ------------------Mobile--------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        justify-content: flex-start;
        margin: 0.1em;
        
    }

    .sq-name {
        font-size: 1.2em;
    }

    

    .burger {
        position: absolute;
        top: 1.5em;
        right: 1.1em;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
       
    }

    .main-text {
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 1em;
        padding: 0;
    }


    
    .logo a img {
        width: 1.5em;
        
    }

    .burger a img {
        width: 1.5em;
        
    }
    
     /* Aside bar----------------------- */

    
     aside ul {
        margin-top: 7em;
        
    }

    aside ul li a {
        font-size: 0.6em;
       
        
    }

    .sq-name {
        animation: fro 1s linear infinite alternate;
    }
    

    @keyframes fro {
        from {
            padding-left: 30%;
        }
        to {
            padding-right: 30%;
        }

}


.foot-text  a {
    font-size: 0.7em;
        
       
    }


.foot-text {
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}






}



