*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

html {
   scroll-behavior: smooth;
}


:root {
--whitesmoke: #f5f5f5;
--dark-color: rgb(0, 0, 0);
--gray-color: gray;
--header-color: #2f2f2f;
--text-shadow: 1px 1px 1px black;
--box-shadow: 0px 0px 3px black;
--font-size: 1.2em;
--box-color: #d3d3d363;
--h3-color: rgb(53, 92, 176);
--chartreuse-color: chartreuse;
--yellowgreen-color: yellowgreen;

--background-color: var(--whitesmoke);
--foreground-color: var(--box-color);


  
}

@media (prefers-colo-scheme: dark) {

    :root {
        --background-color: var(--dark-color);
        --foreground-color: var(--gray-color);
        
        
          
        }

    
}


body {
    background-color: var(--background-color);
    font-family: "Roboto", sans-serif;
    user-select: none;
}


.container {
    
    display: grid;
    grid-template-columns: 0.3fr repeat(4, 1fr) 0.3fr;
    position: relative;
    
    margin: 1em 1em;
    gap: 1em;
   

}

li a {
    text-decoration: none;
    color: black;
}

/* section a {
    text-decoration: none;
    color: black;
} */

/* ul {
    list-style: none;
}

ul li::before {
    content: "e";
    color: chartreuse;
} */

/* --------------Header------------------------------------------ */

#to-top {
    background-color: rgba(128, 255, 0, 0.689);
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
   
    color: deepskyblue;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 200ms, transform 200ms;
    transform: scale(0);
    /* pointer-events: none;
    opacity:0 ; */
  
    z-index: 999;
}

#to-top img {
    width: 30px;
}

#to-top:hover {
    background-color: var(--chartreuse-color);
    bottom: 35px;
}

#to-top.show {
    transform: scale(1);
}



header {
    /* background-color: cadetblue; */
    grid-row: 1/2;
    grid-column: 2/6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}



/* Header name */

.sqname {
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sqname h1 {
    /* background-color: chartreuse; */
    font-size: 6em;
    color: var(--header-color);
    text-shadow: var(--text-shadow);
    position: relative;
    
    
}

.soyab {
/* background-color: burlywood; */
          /* translate: -10px; */
    /* transform: rotate(36deg); */
    animation: zoom 400ms ease alternate 12;
   
    
}

.qureshi {
    /* background-color: burlywood; */
              /* translate: -10px; */
        /* transform: rotate(36deg); */
        animation: room 400ms ease alternate 12;
        
    }

@keyframes zoom {
from {
    color: var(--yellowgreen-color);
}
to {
    color: black;
}}

@keyframes room {
    from {
        color: var(--header-color);
    }
    to {
        color: var(--yellowgreen-color);
    }}

.sqname h3 {
    font-size: 3em;
    color: var(--h3-color);
    text-shadow: var(--text-shadow);
    animation: zoomin 700ms ease;
    transition: 600ms linear;
}

.sqname h3:hover {
   color: var(--header-color);
   transition: 6ms linear;
}

.soyab {
    color: var(--yellowgreen-color);
}

.meformal-img {
    border-radius: 2em;
    box-shadow: var(--box-shadow);
    /* animation: rotateimage 3000ms ease-in-out alternate 1; */
    animation: zoomin 700ms ease;
}

.meformal-img:hover {
    filter: grayscale(100%);
    
}

/* .meformal-img:active {
    animation: none;
    
} */

@keyframes zoomin {
    from {
       transform: scale(0);
    }
    to {
        transform: scale(1);
    }}


    @keyframes changecolor {
        from {
           filter: grayscale(0%);
            
        }
        to {
            filter: grayscale(100%);
        }}
    




/* --------------Intro-------------------- */

.intro {
    grid-row: 2/3;
    grid-column: 2/6;
    text-align: justify;
    font-size: var(--font-size);
    font-weight: bold;
}

/* --------------Aside-------------------- */

aside {
    background-color: var(--foreground-color);
    grid-row: 3/4;
    grid-column: 2/3;
    padding-left: 0.5em;
    line-height: 2em;
    border-radius: 1em;
    font-size: var(--font-size);
    position: relative;
}

aside ul {
    list-style: none;
}

.left-side li a {
    /* background-color: chartreuse; */
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
    
    /* width: 100%; */
    text-align: justify;
    
}

.left-side li a:hover {
    background-color: var(--chartreuse-color);
    width: 100%;
    border-radius: 0.5em;
    box-shadow: var(--box-shadow);
}



.left-side li a img {
    width: 30px;
}

.connect-me, .skills,.interest {
    position: relative;
    cursor: pointer;
    /* overflow: hidden; */
}

/* .connect-me-h3::before {
    content: "";
    top: 30px;
    width: 12px;
    height: 2px;
    background-color: black;
    position: absolute;
}

.connect-me-h3:hover::before {
    background-color: rgb(255, 0, 0);
    width: 130px;
    height: 2px;
    transition: 450ms ease-in-out;
    
} */

/* aside section h3 {
    background-color: blueviolet;
} */

.left-side section h3 {
    /* background-color: brown; */
    width: 100%;
    position: relative;
}



.left-side section h3::before {
    /* background-color: darkmagenta; */
    content: "";
    top: 30px;
    width: 12px;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: 450ms ease-in-out;
    
    
}

.connect-me-h3:hover::before {
    background-color: rgb(255, 0, 0);
    width: 123px;
   
}


.skills-h3:hover::before {
    background-color: rgb(255, 0, 0);
    width: 55px;
  
    
}

.interest-h3:hover::before {
    background-color: rgb(255, 0, 0);
    width: 80px;
    
} 







/* .left-side-location {
    background-color: darkturquoise;
    display: inline-block;
    margin-left: -10px;
} */

/* --------------Qualification-------------------- */

.qualification-area {
    grid-row: 3/4;
    grid-column: 3/6;
    background-color: var(--foreground-color);
    padding-left: 1em;
    font-size: var(--font-size);
    line-height: 1.5em;
    border-radius: 1em;
}



.qualification h3 {
    /* background-color: greenyellow; */
    position: relative;
    width: 100%;
    overflow: hidden;
}

.qualification h3::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 12px;
    height: 2px;
    bottom: 0;
    transition: 450ms ease-in-out;
}

.qualification .qualification-h3:hover::before {
    background-color: red;
    width: 130px;
}

.qualification .other-qualification-h3:hover::before {
    background-color: red;
    width: 192px;
}





/* --------------Main-------------------- */

main {
    grid-row: 4/5;
    grid-column: 2/6;
    background-color: var(--foreground-color);
    padding: 0em 1em;
    font-size: var(--font-size);
    line-height: 2em;
    border-radius: 1em;
    text-align: justify;
}

main h3 {
    /* background-color: brown; */
    position: relative;
}

main h3::before {
    content: "";
    position: absolute;
    background-color: black;
    top: 30px;
    width: 12px;
    height: 2px;
    transition: 450ms ease-in-out;
}

main h3:hover:before {
    background-color: red;
    width: 170px;
}




/* PDF------------------------- */

.pdf a {
    background-color: var(--foreground-color);
    box-shadow: var(--box-shadow);
    border: 1px solid black;
    width: 2.5em;
    height: 2.5em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms linear;
    margin: 0.5em 0;
}

.pdf img {
    width: 30px;
}

.pdf a:hover {
    background-color: var(--chartreuse-color);
    
}

.pdf a:active {
    background-color: #67c608;
   border: none;
    box-shadow: inset 2px 2px 2px rgb(0, 0, 0);
    }

/* box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.592),
inset -2px -2px 5px rgba(255, 255, 255, 0.464);     */





/*-------------------------- Big TV----------------------------------------------------------------------------------------- */
/*-------------------------- Big TV----------------------------------------------------------------------------------------- */
/*-------------------------- Big TV----------------------------------------------------------------------------------------- */
@media (max-width: 1100px) {

    .sqname h1 {
        font-size: 4.8em;
    }
    
    .sqname h3 {
        font-size: 3em;
    }
    



}




/*-------------------------- Tablet----------------------------------------------------------------------------------------- */
/*-------------------------- Tablet----------------------------------------------------------------------------------------- */
/*-------------------------- Tablet----------------------------------------------------------------------------------------- */

@media (max-width: 700px) {

    .sqname h1 {
        font-size: 2.7em;
    }

    .sqname h3 {
        font-size: 2em;
    }

    header {
        gap: 0.5em;
        
    }






}






/*-------------------------- Mobile----------------------------------------------------------------------------------------- */
/*-------------------------- Mobile----------------------------------------------------------------------------------------- */
/*-------------------------- Mobile----------------------------------------------------------------------------------------- */

@media (max-width: 550px) {

    .container {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .sqname h1 {
        font-size: 2.5em;
    }

    .sqname h3 {
        font-size: 1.8em;
    }


    #to-top {
        width: 30px;
        height: 30px;
        
       
    }

    #to-top img {
        width: 20px;
    }

    .pdf a {
        width: 2em;
        height: 2em;
        border-radius: 2em;
    }
    
    .pdf img {
        width: 25px;
    }

    



    
}
